---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="About | Musing on random technical subjects">
  <article class="card">
    <h1>About</h1>
    <p>Feel free to email me on basically anything on computing or history.</p>
  </article>
</BaseLayout>
