---
---

<!doctype html>
<html lang="he" dir="rtl">
  <head>
    <meta charset="utf-8" />
    <meta name="description" content="מחולל קדושים נוצריים" />
    <meta name="keywords" content="מחולל קדושים נוצריים, קדושים נוצרים, קדוש, נוצרי, רנדומלי" />
    <meta name="author" content="Lior Shapira ליאור שפירא" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>כולו בוג'ע - מחולל פניות לגיטימיות למיון</title>
    <style>
      body {
        font-family: sans-serif;
        background-color: rgb(38, 154, 162);
      }
    </style>
  </head>
  <body>
    <h1>כולו בוג'ע - מחולל פניות לגיטימיות למיון (לפחות בהדסה)</h1>
    <p id="Complaint"></p>
    <a onclick="reload();">עוד תלונה</a>

    <script>
      const profession = ['דוקטור!', 'מאמי!', 'נשמה!', 'אחות!', 'פקידת קבלה טרוטת עיניים!'];
      const hurts = [
        'ברגל ימין ובפלח ישבן שמאל',
        'בכפף הטחול',
        'בבלוטת החשק',
        'באצבע ימין ובציפורן אצבע 3 ברגל שמאל',
        'עמוק בתוך הראש וגם במרפק',
        'בחזה ומקרין לירך ימין',
        'בעין ימין ובכתף ימין',
        'במקום הזה שפעם שר',
        'ליד עצם הזנב'
      ];
      const duration1 = [
        'מזה 20 דקות',
        'מאתמול בערב',
        'מזה 5, רגע, 7 שניות',
        'כבר שבועיים',
        'מזה מילניום וחצי',
        'מזה 5 דקות בדיוק',
        'מזה עשור',
        'מאז פסח שני',
        'מזה חודש',
        'כבר ארבעים שנה',
        'מזה לילה',
        'מאז שאני זוכרת את עצמי'
      ];
      const and = ['כאבים בשלפוחית השתן', 'פריחה אדמדמה', 'כאב ראש טורדני', 'שלשול עמיד', 'חום'];
      const diagnosis = ['אני ממש עייפה', 'זאבת (זאת אף פעם לא זאבת)', 'דבר שחור', 'אנשים זה דרעק', 'חום', 'עוד קפה בשבילי'];

      function reload() {
        const rText =
          profession[Math.floor(Math.random() * profession.length)] +
          ' כואב לי ' +
          hurts[Math.floor(Math.random() * hurts.length)] +
          ' ' +
          duration1[Math.floor(Math.random() * duration1.length)] +
          ' ויש לי גם ' +
          and[Math.floor(Math.random() * and.length)] +
          ' ' +
          duration1[Math.floor(Math.random() * duration1.length)] +
          '<br/><br/>(אבחנה: ' +
          diagnosis[Math.floor(Math.random() * diagnosis.length)] +
          ')';
        document.getElementById('Complaint').innerHTML = rText;
      }
      window.addEventListener('load', reload);
    </script>
  </body>
</html>
